body{
    font-size: 14px;
    color: $fc2;
    line-height: 1.8;
}
.clearfix{
    &:afer{
        content: "";
        display: block;
        clear: both;
    }
}
.fl{
    float: left;
}
.fr{
    float: right;
}